.conteint-main {
  min-height: calc(100vh - 100px);
}
.bg-dark {
  background-color: #000000 !important;
  color: #ffff;
}
.bg-dark .nav-link {
  padding-top: 10px;
  min-height: 50px;
  color: #ffff !important;
}
.bg-dark .nav-link.active,
.bg-dark .nav-link:hover {
  background: #ffff !important;
  min-height: 50px;
  font-weight: 600;
  color: #000000 !important;
}
footer {
  height: 50px;
}
.card {
  border-radius: 1.5em;
}
.card .card-header:first-child {
  border-radius: 1.5em;
  color: #ffff;
  background: #000000;
  margin: -20px 30px;
}
.btn {
  border-radius: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-primary {
  font-weight: 600;
  background: #000000;
  color: #ffff;
  border: #000000 solid 2px;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0px 6px 21px -6px rgba(0, 0, 0, 0.75);
  border: #000000 solid 2px;
  color: #000000;
  background: #ffff;
}
.btn-primary:active {
  border: #000000 solid 2px;
  color: #000000;
  background: #ffff;
}
.btn-primary:not(:disabled):not(.disabled):active {
  border: #000000 solid 2px;
  color: #000000;
  background: #ffff;
}
.form-group .form-control {
  border: none;
  border-bottom: solid 2px #000000;
  border-radius: 0.8em;
}
.form-group .form-control.is-invalid {
  border-bottom: solid 2px #dc3545;
}
.form-group .form-control:focus {
  color: #495057;
  background-color: #ffff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.08);
}
.modal-content {
  border-radius: 1em;
}
.modal-content .modal-body {
  padding-bottom: 30px;
}
.modal-content .modal-header {
  border: none;
}
.modal-content .modal-header .close {
  margin-top: -30px;
  border-radius: 2em;
  border: 2px solid #ffff;
  background: #000000;
  color: #ffff;
  opacity: 1;
  width: auto;
  padding: 5px 10px 10px 10px;
  margin-right: 10px;
}
.loader {
  color: #000000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
